{% extends 'main/base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}
    <!-- <div> <img src="{% static 'gloves.png' %}" alt="" class = 'photogloves'> Witam</div>
    <div> <img src="photos/gloves.png" alt="" class = 'photogloves'>Witam</div>
    <div><img src="photos/gloves.png" alt="" class = 'photogloves'>Witam</div>
    
               
    <div><img src="photos/gloves.png" alt="" class = 'photogloves'>Witam</div>
    <div><img src="photos/gloves.png" alt="" class = 'photogloves'>Witam</div>        
    <div><img src="photos/gloves.png" alt="" class = 'photogloves'>Witam</div> -->
    
{% endblock%}