{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<h1 style = 'font-size: 60px;'>Twoje posty:</h1>
<!-- <ul> -->
    {% csrf_token %}
    {% for item in pt %}
    <!-- <li> -->
        <a href="{% url 'viewpost' item.pk %}">
        <div style="height: 100px;">
            <h3 style=" color: white;" name="{{item.id}}" title="{{item.id}}">{{item.name}}</h3>
            <!-- {{item.text}} -->
        </div>
        </a>
    <!-- </li> -->
    {% endfor %}
<!-- </ul> -->


{% endblock %}